*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.upper{
    background-color: red;
    border: 4px solid green;
    /* padding: 20px;
    margin: 20px; */
}

.box{
    border: 4px solid yellow;
}

/* div {
background-color: green;
border: 4px solid red;
padding: 20px;
margin: 20px;
} */


/* p{
color: blue;
} */

a{
    text-decoration: underline;
    text-decoration: none;
    
}

h1{
    color: red;
    border: 2px solid red;
}

.google_link{
    color: green;
    font-size: 20px;
    font-weight: bold;
}

 /* ====================================This is the hover section================================ */
.google_link:hover{
    color: red;
    /* text-decoration: underline; */
    /* background-color: yellow; */

}
.div-parent{
    border: 4px solid red;
    padding: 16px;
    /* padding-bottom: 20px; */
    /* padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px; */
    /* padding: 16rem; */
    /* margin: 20px; */
}
.child2{
background-color: green;
width: 50%;
border-radius: 20px;
border-top-left-radius: 50px;
/* color: rgb(17, 90, 230);
color: rgba(17, 90, 230, 0.3); */
/* color: #000000;
color: #ffffff;
color: #ff0000;
color: #00ff00;
color: #0000ff; */
}

/* ===========================Hero Section=========================== */
.hero-section {
    background-image: url(./assets/img/flight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    /* background-color: #f0f0f0; */
    padding: 40px;
    text-align: center;
    /* height: 400px; */
    min-height: 400px;
}
.hero-section h1 {
    font-size: 40px;
    color: #333;
    margin-bottom: 20px;
}
.hero-section p {
    font-size: 18px;
    color: #666;
    line-height: 2rem;
}
.hero-section span {
    color: orange;
    font-weight: 800;
    text-transform: lowercase;
    text-decoration: underline;
    text-shadow: #901515 2px 2px 4px;
    /* text-decoration: line-through; */
    overflow: hidden;
}

.parent-box{
    display: flex;
    border: 4px solid red;
    padding: 20px;
}
.parent-box .child-box{
    background-color: #f8f1f1;
    padding: 32px;
    margin: 10px;
    border: 1px solid rgb(248, 241, 241);
    border-radius: 10px;
}

.parent-box .child-box a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: blue;
    padding: 10px 20px;
    border-radius: 5px;
}

.parent-box .child-box a:hover{
    background-color: green;
}

.parent-box .child-box h3{
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.parent-box .child-box p{
    font-size: 1rem;
    color: #626161;
    margin-bottom: 10px;
}

.position{
    border: 4px solid red;
    padding: 20px;
    position: relative;
}

.position button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}