* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===========faq styling========= */
section {
    /* background-color: lightblue; */
    background-color: #F0F2F8;
    padding: 40px;
    text-align: center;
}


/* =============about us styling========= */
.abouts-section {
    background-color: lightblue;
    padding: 40px;
    text-align: center;
}
