* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background-color: aqua;
} */

h1 {
    border: 2px solid green;
    /* border-style: solid;
    border-width: 4px;
    border-color: red; */
      /* padding: 0px 20px; */
    /* padding: 20px 20px 20px 20px; */
    /* padding: 20px; */
    /* padding-top: 20px; */
    /* padding-right: 20px;
    padding-bottom: 20px; */
    /* padding-left: 20px; */
    /* margin: 20px; */
}

h2 {
    border: 2px solid blue;
}

.colorme {
    /* color: red; */
    /* color: rgb(255, 255, 255); */
    /* color: rgba(255, 0, 0, 0.5); */
    color: #e47200;
}

.bgcolor {
    background-color: yellow;
}

#highlight-text {
    background-color: lightblue;
    color: darkblue;
    padding: 10px;
    border-radius: 50px;
}

/* ==============This unorderlist section============ */

ul li .python {
    text-decoration: none;
    color: red;
}

ul li .python:hover {
    color: green;
    /* color: blue; */
    font-size: 50px;
}

/* =================This is footer section================= */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    background-image: url('./img/tech.avif');
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-repeat: no-repeat;
}
/* p {
    text-transform: capitalize;
} */

/* a {
    text-decoration: none;
} */

.test-lineheight {
    line-height: 1.5;
    background-color: yellow; 
}